.table-container {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

  &__wrapper {
    table {
      display: block;
      overflow: scroll;
      position: relative;
      thead {
        display: block;
        .table-head {
          display: flex;
          align-items: center;
          .table-head__item {
            text-align: left;
            &--right {
              text-align: right;
            }
            &--checkbox {
              width: 60px;
            }
          }
        }
      }

      .data-table-body {
        .table-row {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 20px;
          width: 100%;
          &:first-child {
            border-top: 1px solid;
          }
          &:not(:last-child) {
            border-bottom: 1px solid;
          }
          &__item {
            text-align: left;
            &--right {
              text-align: right;
            }
          }
        }
      }
    }
  }
}
